@import "tailwindcss";

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    --color-primary: rgba(220, 36, 21);
      --color-primary-content: rgba(54, 7, 7);
    --color-secondary: rgba(208, 161, 91);
    --color-secondary-content: rgba(255, 255, 255);
  }
